// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023, Analog Devices Incorporated, All Rights Reserved
 */

#include "adrv906x.dtsi"
#include "adrv906x-sysc.dtsi"
#include "adrv906x-protium.dtsi"

/ {
	chosen {
		stdout-path = &uart0;
	};

	/* Used by OP-TEE */
	secure-chosen {
		stdout-path = &uart0;
	};
};

&uart0 {
	status = "okay";
};

/* Required for OP-TEE to use UART1 */
&uart1 {
	status = "okay";
};

&mmc0 {
	status = "okay";
};

&mmc0_phy {
	status = "okay";
};

&mmc1 {
	status = "okay";
	/* BRINGUP TODO: Set this back to 50MHz */
	max-frequency = <12500000>;
};

&qspi0 {
	status = "okay";

	flash: mt25q@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		#include "denali-nor-flash-part.dtsi"
       };
};

&emac0 {
	status = "okay";
	phy-handle = <&phy0>;
	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: ethernet-phy@0 {
			reg = <15>;
		};
	};
};

&pinctrl_hog {
	adi,pins = <
		/* Pins 66-73: Debug out signals */
		GPIO_DEBUG_0_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
		GPIO_DEBUG_1_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
		GPIO_DEBUG_2_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
		GPIO_DEBUG_3_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
		GPIO_DEBUG_4_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
		GPIO_DEBUG_5_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
		GPIO_DEBUG_6_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
		GPIO_DEBUG_7_PIN	(ADI_CONFIG_NO_PULL  | ADI_CONFIG_DRIVE_STRENGTH_4)
	>;
};

&gpio {
	gpio_debug0 {
		gpio-hog;
		gpios = <GPIO_DEBUG_0_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
	gpio_debug1 {
		gpio-hog;
		gpios = <GPIO_DEBUG_1_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
	gpio_debug2 {
		gpio-hog;
		gpios = <GPIO_DEBUG_2_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
	gpio_debug3 {
		gpio-hog;
		gpios = <GPIO_DEBUG_3_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
	gpio_debug4 {
		gpio-hog;
		gpios = <GPIO_DEBUG_4_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
	gpio_debug5 {
		gpio-hog;
		gpios = <GPIO_DEBUG_5_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
	gpio_debug6 {
		gpio-hog;
		gpios = <GPIO_DEBUG_6_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
	gpio_debug7 {
		gpio-hog;
		gpios = <GPIO_DEBUG_7_PIN GPIO_ACTIVE_HIGH>;
		output-low;
	};
};
