// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023, Analog Devices Incorporated, All Rights Reserved
 */

#include "adrv906x.dtsi"
#include "adrv906x-sysc.dtsi"
#include "adrv906x-protium.dtsi"

/ {
	chosen {
		stdout-path = &uart0;
	};

	/* Used by OP-TEE */
	secure-chosen {
		stdout-path = &uart0;
	};
};

&uart0 {
	status = "okay";
};

/* Required for OP-TEE to use UART1 */
&uart1 {
	status = "okay";
};

&mmc0 {
	status = "okay";
};

&mmc0_phy {
	status = "okay";
};

&mmc1 {
	status = "okay";
	/* BRINGUP TODO: Set this back to 50MHz */
	max-frequency = <12500000>;
};

&qspi0 {
	status = "okay";

	flash: mt25q@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		#include "denali-nor-flash-part.dtsi"
       };
};

&emac0 {
	status = "okay";
	phy-mode = "rgmii";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
	/* Disabled for now to allow for Protium testing */
	/*phy-handle = <&phy0>;*/

	/* Disabled for now to allow for Protium testing */
	/*mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: ethernet-phy@0 {
			reg = <15>;
		};
	};*/
};
